body 
{
  font-family: Arial, Helvetica, sans-serif
}
.semana 
{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100px;
  height:35px;
  font-size: 20px;
  background-color:#f1f0f0;
  border-radius: 10px;
  text-align: center;  
  border-color: lightgrey;
  border-style: solid;
  border-width: 1px;
}
.semana2 
{
  display: flex;
  justify-content: center;
  align-items: center;
  width:120px;
  height:35px;
  font-size: 20px;
  background-color:#f1f0f0;
  border-radius: 10px;
  text-align: center;  
  border-color: lightgrey;
  border-style: solid;
  border-width: 1px;
}
.saba 
{
  display: flex;
  justify-content: center;
  align-items: center;
  width:120px;
  height:35px;
  font-size: 20px;
  background-color:#9dc8d8;
  border-radius: 10px;
  text-align: center;
  border-color: lightgrey;
  border-style: solid;
  border-width: 1px;
  color: rgb(0, 0, 175);
}
.domin 
{
  display: flex;
  justify-content: center;
  align-items: center;
  width:120px;
  height:35px;
  font-size: 23px;
  background-color:yellow;
  border-radius: 10px;
  text-align: center;
  color: red;
  border-color: lightgrey;
  border-style: solid;
  border-width: 1px;
}
.seman 
{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100px;
  height:60px;
  background-color:white;
  border-radius: 10px;
  text-align: center;
  border-color: lightgrey;
  border-style: solid;
  position: relative;
  border-width: 1px;
}
.diassabado 
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 35pt;
  width:120px;~
  height:60px;
  background-color:#9dc8d8;
  border-radius: 10px;
  text-align: center;
  border-color: lightgrey;
  border-style: solid;
  color: rgb(0, 0, 175);
  border-width: 1px;
}
.blocodomingo 
{
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  width:120px;
  height:60px;
  background-color:yellow;
  border-radius: 10px;
  text-align: center;
  border-color: lightgrey;
  border-style: solid;
  font-size: 30pt;
  font-weight: bold;
  border-width: 1px;
}
.dias 
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size:35pt;
  width:120px;
  height:60px;
  background-color:white;
  border-radius: 10px;
  text-align: center;
  border-color: lightgrey;
  border-style: solid;
  border-width: 1px;
}
#julho 
{
  font-size: 30pt;
  font-weight: bolder;
  color: rgb(105, 105, 105);
  position: absolute;
  top: 8%;
  left: 40%;
}
#ano 
{
  font-size: 30pt;
  font-weight: bolder;
  color: gray;
  position: absolute;
  top: 10%;
  left: 24%;
}
#lua 
{
  font-size: 10pt;
  color: rgb(100, 100, 100);
  position: absolute;
  top: 65%;
  left: 40%;
}
#tu 
{
  position: absolute;
  top: 21%;
  left: 15.8%;
}
#td 
{
  position: absolute;
 top: 29%;
  left: 15.8%;
}
#tt 
{
  position: absolute;
  top: 37%;
  left: 15.8%;
}
#tq 
{
  position: absolute;
  top: 45%;
  left: 15.8%;
}
#tc 
{
  position: absolute;
  top: 53%;
  left: 15.8%;
}
#sem 
{
  position: absolute;
  top: 16%;
  left: 15.8%;
}
#dom 
{
  position: absolute;
  top: 16%;
  left: 22.6%;
}
#seg 
{
  position: absolute;
  top: 16%;
  left: 30.5%;
}
#ter 
{
  position: absolute;
  top: 16%;
  left: 38.4%;
}
#qua
{
  position: absolute;
  top: 16%;
  left: 46.3%;
}
#qui 
{
  position: absolute;
  top: 16%;
  left: 54.2%;
}
#sex 
{
  position: absolute;
  top: 16%;
  left: 62%;
}
#sab 
{
  position: absolute;
  top: 16%;
  left: 69.8%;
}
#vazio1 
{
  position: absolute;
  top: 21%;
  left: 22.7%;
}
#vazio2 
{
  position: absolute;
  top:  21%;
  left: 30.6%;
}
#vazio3 
{
  position: absolute;
  top:  21%;
  left: 38.5%;
}
#vazio4 
{
  position: absolute;
  top:  21%;
  left:  46.3%;
}
#vazio5 
{
  position: absolute;
  top:  21%;
  left:  54.2%;
}
#um 
{
  position: absolute;
  top:  21%;
  left:  62%;
}
#dois 
{
  position: absolute;
  top:  21%;
  left:  69.8%;
}
#tres 
{
  position: absolute;
  top: 29%;
  left: 22.7%;
}
#quatro 
{
  position: absolute;
  top: 29%;
  left: 30.6%;
}
#cinco 
{
  position: absolute;
  top: 29%;
  left: 38.5%;
}
#seis  {
  position: absolute;
  top: 29%;
  left:  46.3%;
}
#sete 
{
  position: absolute;
  top: 29%;
  left:  54.2%;
}
#oito 
{
  position: absolute;
  top: 29%;
  left:  62%;
}
#nove 
{
  position: absolute;
  top: 29%;
  left:  69.8%;
}
#dez 
{
  position: absolute;
  top: 37%;
  left: 22.7%;
}
#onze 
{
  position: absolute;
  top: 37%;
  left: 30.6%;
}
#doze 
{
  position: absolute;
  top: 37%;
  left: 38.5%;
}
#treze 
{
  position: absolute;
  top: 37%;
  left:  46.3%;
}
#quatorze 
{
  position: absolute;
  top: 37%;
  left:  54.2%;
}
#quinze 
{
  position: absolute;
  top: 37%;
  left:  62%;
}
#dezeseis 
{
  position: absolute;
  top: 37%;
  left:  69.8%;
}
#dezesete 
{
  position: absolute;
  top: 45%;
  left: 22.7%;
}
#dezoito 
{
  position: absolute;
  top: 45%;
  left: 30.6%;
}
#dezenove
{
  position: absolute;
  top: 45%;
  left: 38.5%;
}
#vinte 
{
  position: absolute;
  top: 45%;
  left:  46.3%;
}
#vinteum 
{
  position: absolute;
  top: 45%;
  left: 54.2% ;
}
#vintedois 
{
  position: absolute;
  top: 45%;
  left:  62%;
}
#vintetres 
{
  position: absolute;
  top: 45%;
  left:  69.8%;
}
#vintequatro 
{
  position: absolute;
  top: 53%;
  left: 22.7%;
}
#vintecinco 
{
  position: absolute;
  top: 53%;
  left: 30.6%;
}
#vinteseis 
{
  position: absolute;
  top: 53%;
  left: 38.5%;
}
#vintesete 
{
  position: absolute;
  top: 53%;
  left:  46.3%;
}
#vinteoito 
{
  position: absolute;
  top: 53%;
  left:  54.2%;
}
#vintenove 
{
  position: absolute;
  top: 53%;
  left:  62%;
}
#trinta 
{
  position: absolute;
  top: 53%;
  left:  69.8%;
}